<!DOCTYPE html>
<html>
  <head>
    <title>7ちゃんねる掲示板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/inbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
  </head>


  <body data-turbolinks="false">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "７ちゃんねる", posts_path, class: "title" %>


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>


        <div class="navbar-end">
          <div class="navbar-item">

            <% if user_signed_in? %>
            <a class="navbar-item">
            <%= link_to '投稿する', new_post_path %></a>

            <a class="navbar-item">
            <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete} %>
            </a>
           <% else %>
           <a class="navbar-item">
            <%= link_to 'ログイン', new_user_session_path %>
            </a>
           <a class="navbar-item">
            <%= link_to '新規登録', new_user_registration_path %>
            </a>
            <% end %>

          </div>
        </div>
      </div>
    </nav>


    <%= yield %>


        </div>
  </body>
</html>
